extends ../pug/layout.pug

block variables
  - var spriteSvg = 'img/svg/index-sprite.svg';

block meta
  title Главная страница

block header

block content
  h1 Заголовок
  p Привет от всех нас до всех вас!!!

block footer


