// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.logo {
  $block-name: &;

  // #{$block-name}__element
  display: inline-block;
  z-index: 100;
  height: auto;
  white-space: nowrap;
  margin-left: calc(50vw - 43px);

  &__img {

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &-wrapper {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    max-width: 1150px;
    height: 80px;
    border-bottom: 1px solid $border-color;
    background-color: #ffffff;
  }
}

@include md-block {

  .logo {
    margin-left: 50px;

    &-wrapper {
      position: absolute;
      width: 100%;
      height: 88px;
    }
  }
}


@include xl-block {

  .logo {
    margin-left: 544px;
  }
}
